.container {
    display: flex;
    flex-direction: column;
    
    padding: 5px;

    .title {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        font-weight: 600;

        gap: 10px;

        padding-bottom: 10px;
    }
}