@keyframes animaDown {
    50% {
      padding-top: 3px;  
      padding-bottom: 0;
    }
    100% {
      padding-top: 0;
      padding-bottom: 3px;
    }
}

.container {

    position: absolute;

    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;

    right: 70px;

    width: 40px;
    height: 40px;

    opacity: 0.8;

    padding: 3px;

    background-color: gray;
    border-radius: 6px;

    cursor: pointer;

    animation-name: animaDown;
    animation-duration: 500ms;
    animation-iteration-count: infinite ;

    transition: padding 400ms;
    visibility: visible;
}

