.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 20px;
    border-radius: 6px;

    box-shadow: inset  0 0 7px #b6b5b5, 0px 2px 1px rgba(16, 16, 24, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    overflow-y: auto;    
    
    .usersicon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding-bottom: 5px;
    }

    .userstitle {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        gap: 10px;

        width: 100%;

        font-size: 14px;
        font-weight: 600;

        .usercount {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    .lab {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        width: 90%;

        padding: 0 3px;
        margin-top: 20px;

        border: 2px solid lightgray;
        border-radius: 6px;

        .in {
            width: 100%; 

            border: none;
            border-radius: 6px;
        }

        .in:focus {
            outline: none;
        }
    }

    .userslist {

        width: 90%;

        list-style: none;
         
        padding: 0;

        .usersitem {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            height: 20px;

            border: none;
            border-radius: 6px; 

            padding: 5px;
            
            margin-bottom: 10px;
            cursor: pointer;

            box-shadow: 1px 1px 4px 3px #d1d1d1;

            .status {
                font-size: 12px;
                font-weight: 600;
                color: orange;
            }

            .img {
                width: 10px;
                height: 10px;
            }
        }

        .usersitem:hover {
            background-color: rgba(194, 212, 31, 0.801);
        }

        .userdata {

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            margin-bottom: 5px;
            padding: 5px 0;

            gap: 5px;

            border-bottom: 2px solid lightgray;

            .userdescription {

                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                gap: 5px;

                width: 100%;

                text-align: left;

                .describe {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                }
            }
 
        }
        
    }
}

//******************************@media rules************************************

//-------------------(min-width: 768px) and (max-width: 1439px)-----------------
@media screen and (min-width: 768px) and (max-width: 1439px) {
   .container {
        width: 20vw;
   }
}

//-------------------min-width: 1440px----------------------------
@media screen and (min-width: 1440px) {
    .container {
        width: 20vw;
   }
}
//******************************end************************************

