.container {
    width: 80%;
    .fise{
        
        .fset{

            border-radius: 6px;
            border: 2px solid lightgray;
            margin: 0;
            padding: 5px;

            .field {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                gap: 10px;
                .button{
                    width: 50%;
                    border: none;
                    border-radius: 6px;
                    padding: 5px;

                    cursor: pointer;
                }

                .lab {
                    padding-bottom: 10px;
                    width: 100%;
                    .in {
                        width: 100%;
                        padding: 0;
                        border: none;
                        border-bottom: 2px solid lightgrey;
                    }

                    textarea {
                        width: 100%;
                        padding: 0;
                        margin: 0 auto;
                        height: 100px;
                        resize: none;
                    }
                    .in:focus {
                        outline: none;
                    }
                 
                    .load{
                        width: 1px;
                        opacity: 0; 
                    }

                    .p{
                        width: fit-content;
                        text-align: center;

                        margin: 0 auto 10px;
                        padding: 3px 10px;
                        border: 2px solid gray;
                        border-radius: 6px;
                    }
                  
                    // .load::file-selector-button {
                        
                    //     font-weight: bold;
                    //     color: dodgerblue;
                    //     padding: 0.5em;
                    //     border: none;
                    //     border-radius: 6px;
                    // }
                    
                }

                .error {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center; 
        
                    gap: 5px;
                }
                
            }
        }
    } 
}

//******************************@media rules************************************

//-------------------(min-width: 768px) and (max-width: 1439px)-----------------
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .container {
        width: 100%;
        .fise { 
           
            .fset {
            
                .field {
                    width: 90%;
                    margin: 0 auto;

                    .button {
                        width: 80%;
                    }
                }
                
                
            }
        }
      
    }
}

//-------------------min-width: 1440px----------------------------
@media screen and (min-width: 1440px) {
    .container {
        width: 100%;
        .fise { 
           
            .fset {
            
                .field {
                    width: 90%;
                    margin: 0 auto;

                    .button {
                        width: 80%;
                    }
                }
                
                
            }
        }

    }
}
//******************************end************************************