.container {

    display: block;
    flex-direction: row;
    justify-content: space-between;

    // width: 100%;
 
    gap: 10px;

    padding: 60px 0;

    .workContainer {

        display: flex;
        flex-direction: column;
        width: 100%;

        gap: 10px;

        .chat {
            padding: 0, 20px;
        }
        
    }

}

//******************************@media rules************************************

//-------------------(min-width: 768px) and (max-width: 1439px)-----------------
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .container {

        display: flex;
        flex-direction: row;

        padding: 70px 0;

        .workContainer {

            width: 80%;

        }

    }
}

//-------------------min-width: 1440px----------------------------
@media screen and (min-width: 1440px) {
    .container {
        
        display: flex;
        flex-direction: row;

        padding: 70px 0;
       
        .workContainer {

            width: 80%;

        }
    }
}
//******************************end************************************