.fset {
    
    border-radius: 6px;
    border: 2px solid lightgray;
    
    .field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {

        width: 80%;
        
        border: none;
        border-radius: 6px;

        padding: 5px;

        transition: background-color, 400ms;
        
        }

        button:hover {
                        
            background-color: rgba(194, 212, 31, 0.801);
            
        }

        .lab {
            padding-bottom: 10px;

            .in {

                border: none;
                border-bottom: 2px solid lightgrey;
            }

            .in:focus {
                outline: none;
            }
        }

        .radioCont {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 100%;

            margin-bottom: 10px;
        }

        .radio {
            cursor: pointer;
        }
    }

}