  .animaSection {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    perspective: 1000px;
    perspective-origin: center; 

    background-size: contain;

    height: 250px;

    background: url(../../images/date-time/opt/travel_the_world_hot_air_balloons-wallpaper-1366x768.jpg);
    background-size: cover;

    margin: 30px 0;

    border-radius: 6px;
  }
  
  .dateContainer {
    width: 100%;
  }

  .animaElement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // gap: 30px;
  
    width: 100%;
    // max-width: calc(100vw / 2);
    height: 50px;
    margin: 0 auto 50px auto;
  
    border-radius: 4px;
    backdrop-filter: blur(2px);

    // outline: 2px solid var(--text-color);
    box-shadow: inset 0 0 7px #b6b5b5, 0px 2px 1px rgba(16, 16, 24, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 30px;
    margin: 0 auto 30px auto;
    padding: 0 10px;
  
    border-radius: 4px;
    backdrop-filter: blur(5px);

    p {
      font-family: Knewave;
      font-size: 25px;
      text-align: center;
      
      color: white;
    }

  }
  
  .animaDate {
      display: flex;
      justify-content: center;
      align-items: center;
  
      font-size: 30px;
      background: none;
      width: 80px;
      height: 50px;
      border-radius: 4px;
      
      // margin: 0 10px 0 auto;
      // padding-right: 10px;
      color: white;

      backdrop-filter: blur(40px);

      // box-shadow: inset 1px 1px 4px 3px rgba(16, 16, 24, 0.3);
      
  }
  
  @media only screen and (min-width: 1200px){
      .animaDate {
          font-size: 44px;
      }
  }
  
  .timeProgress {
      /* position: absolute; */
      justify-content: center;
      align-items: center;
  
      background: conic-gradient(var(--main-text-color) 10deg, rgba(255, 255, 255) 0deg);
      min-width: 68px;
      height: 68px;
      border-radius: 50%;

    //   transition: conic-gradient, 300ms;

      box-shadow: inset 0 0 7px #b6b5b5, 0px 2px 1px rgba(16, 16, 24, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .animaTime {
      // position: absolute;
      // z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    //   left: calc(50vw - 54px);


      background: var(--button-color);
      font-size: 18px;
      outline: 5px solid rgb(218, 165, 32, 0.8);
      width: 75px;
      height: 75px;
      
      border-radius: 50%;
      // margin: 0 auto;
      color: var(--text-color);

      box-shadow: inset 0 0 7px #b6b5b5, 0px 2px 1px rgba(16, 16, 24, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .animaTimeText {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 55px;
    height: 55px;

    font-size: 20px;
    font-weight: 600;

    color: white;

    border: 2px solid white;

    background-color: var(--body-color);
    // background: url('../../images/moon-night-svgrepo-com.svg');
    // background-size: cover;

    border-radius: 50%;
  }
  
  .animaYear {
      display: flex;
      justify-content: center;
      align-items: center;
  
      font-size: 30px;
      background: none;
      width: 80px;
      height: 50px;
      border-radius: 4px;

      // margin-left: auto;
      // margin-right: auto;

      // padding: 0 5px;

      color: white;

      backdrop-filter: blur(40px);

      // box-shadow: inset 1px 1px 4px 3px rgba(16, 16, 24, 0.2);
  }
  
  @media only screen and (min-width: 1200px){
      .animaYear {
          font-size: 44px;
      }
  }
  
  .animaTitle {

      font-size: 24px;
      text-align: center;
      color: white;

      margin-bottom: 25px;
  }

//******************************@media rules************************************

//-------------------(min-width: 768px) and (max-width: 1439px)-----------------
@media screen and (min-width: 768px) and (max-width: 1439px) {

  .introduction {

    p {
     
      font-size: 30px;
     
    }

  }

  .animaElement {
   
    margin: 0 auto 30px auto;
  }

  .animaDate {
    
    width: 110px;
    
  }

  .animaYear {
   
    width: 110px;
    
  }

  .animaSection {
    margin: 40px 0;
  }
}

//-------------------min-width: 1440px----------------------------
@media screen and (min-width: 1440px) {

  .introduction {

    p {
     
      font-size: 30px;
     
    }

  }

  .animaElement {
   
    margin: 0 auto 30px auto;
  }
  
  .animaDate {
    
    width: 110px;
    
  }

  .animaYear {
   
    width: 110px;
    
  }

  .animaSection {
    margin: 40px 0;
  }
}
//******************************end************************************
