.container {

    padding: 70px 0;
    
    .hero {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        gap: 10px;

        margin-bottom: 20px;
        
        border-radius: 6px;

        padding: 10px;

        margin-top: 70px;

        height: fit-content;

        background: url(../../images/hero/blue-abstract-bokeh-lights-picjumbo-com.jpg);

        background-size: cover;

        .rightblock {
   
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            gap: 10px;

            width: 100%;
            height: 95%;

            padding: 5px;
                
            border: 2px solid goldenrod;
            border-radius: 6px;

            .heroTitle {

                font-size: 24px;
                font-weight: 600;
                color: goldenrod;

            }

            .heroDescryption {

                width: 100%;
                text-align: left;

                color: #1C274C;

            }

            .heroButton {

                width: 100%;
                height: 40px;

                font-size: 16px;
                font-weight: 600;

                color: #1C274C;

                transition: background-color 400ms;

                background-color: transparent;

                border: none;
                border-radius: 6px;

                box-shadow: inset 1px 1px 4px 3px #d1d1d1;

                &:hover {
                    
                    box-shadow: inset 1px 1px 4px 3px rgba(194, 212, 31, 0.801);
                    border-radius: 6px;
                }

                &:active {
                    
                    box-shadow: inset 1px 1px 4px 3px #e0e0e0;
                    background-color: rgba(209, 209, 209, 0.522);
                    border-radius: 6px;
                }
            }

        }

        .leftblock {

            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;

                border-radius: 8px; 
    
                padding: 0;
                opacity: 70%;
                box-shadow: 1px 1px 4px 3px rgb(84, 92, 138);
            }    

        }
       
    }

    .heroCommunity {
        background: url(../../images/hero/evening-sunset-abstract-blue-city-lights-bokeh-picjumbo-com.jpg);
        background-size: cover;
        height: 480px;

        gap: 10px;

        .communityBoard {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            height: 95%;

            padding: 5px;
                
            border: 2px solid goldenrod;
            border-radius: 6px;

            .communityTitle {

                font-size: 24px;
                font-weight: 600;
                color: goldenrod;

            }

            .communityDescryption {

                width: 100%;
                text-align: left;

                color: #1C274C;

            }

            .communityButton {

                width: 100%;
                height: 40px;

                font-size: 16px;
                font-weight: 600;

                color: #1C274C;

                transition: background-color 400ms;

                background-color: transparent;

                border: none;
                border-radius: 6px;

                box-shadow: inset 1px 1px 4px 3px #d1d1d1;

                &:hover {
                    
                    box-shadow: inset 1px 1px 4px 3px rgba(194, 212, 31, 0.801);
                    border-radius: 6px;
                }

                &:active {
                    
                    box-shadow: inset 1px 1px 4px 3px #e0e0e0;
                    background-color: rgba(209, 209, 209, 0.522);
                    border-radius: 6px;
                }
            }

        }

        .messageBoard {

            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 100%;
            height: 100%;

            gap: 2px;


            .boardItem {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                font-family: Silkscreen;
                font-size: 24px;

                height: calc(100% / 4);

                background-color: rgb(255, 255, 255, 0.7);
       
                border-radius: 6px;

            }
        }
    }
}

//******************************@media rules************************************

//-------------------(min-width: 768px) and (max-width: 1439px)-----------------
@media screen and (min-width: 768px) and (max-width: 1439px) {
    
    .container {
        .hero {

            flex-direction: row;
            height: 200px;

            img {
                width: 350px;
                height: 90%;
                border-radius: 8px; 
                opacity: 70%;
                box-shadow: 1px 1px 4px 3px rgb(84, 92, 138);
            }

            .rightblock {
                width: 50%;
            }

            .leftblock {
                width: 50%;
            }
        }

        .heroCommunity {

            height: 200px;

            
            .messageBoard {

                width: 50%;
            }

            .communityBoard {
                width: 50%;
            }
        }
    }
 
}

//-------------------min-width: 1440px----------------------------
@media screen and (min-width: 1440px) {
    
    .container {
        .hero {

            flex-direction: row;
            height: 200px;

            img {
                width: 350px;
                height: 90%;
                border-radius: 8px; 
                opacity: 70%;
                box-shadow: 1px 1px 4px 3px rgb(84, 92, 138);
            }

            .rightblock {
                width: 50%;
            }

            .leftblock {
                width: 50%;
            }
   
        }

        .heroCommunity {

            height: 200px;

            .messageBoard {

                width: 50%;
            }

            .communityBoard {
                width: 50%;
            }
        }
    }
}
//******************************end************************************

