.comtainer {
    // width: 80vw;
    height: 100vh;

    padding: 0 20px;

    background-color: lightgrey;

    overflow-y: scroll;
    
    .arts {

        display: flex;
        gap: 3px;

        border: none;
        border-bottom: 2px solid white;

        button {
            width: calc(100%/3);
            height: 20px;

            border-radius: 0;
            border: 2px solid white;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: none;
        }  
    }
    .style {

        display: flex;
        flex-wrap: wrap;
        
        row-gap: 10px;
        column-gap: 10px;
        
        padding: 20px 0;
        margin: 0;

        list-style: none;

        border: none;

        border-bottom: 2px solid white;

        button {
            width: 100px;
            height: 20px;

            border: none;
            border-radius: 6px;
        } 
        
        button:hover {

            background-color: rgba(194, 212, 31, 0.801);

        }
        
    }
    
}