@keyframes animaDayNightPlus {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@keyframes animaDayNightMinus {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(-360deg);
    }
}

.container {

    display: flex;
    align-items: center;

    width: 50px;
    height: 15px;

    background-color: lightgray;

    box-shadow: inset 2px 2px 2px 1px gray;

    border-radius: 50px;

    .imagesCont {

        display: flex;
        align-items: center;

        .images {

            animation-name: animaDayNightPlus; 
            animation-duration: 400ms;
            animation-iteration-count: 1 ;
            
            cursor: pointer;
        }
    
        .images:focus {
            animation-name: animaDayNightMinus; 
            animation-duration: 400ms;
            animation-iteration-count: 1 ;
        }
    }

}

