.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: 100%;
    height: fit-content;

    padding: 5px 0;

    gap: 10px;

    background-color: lightgray;

    border-radius: 6px;

    p {
        font-size: 14px;
    }

}

.sound {

    padding: 0 5px;
    box-shadow: inset 1px 1px 4px 3px rgba(16, 16, 24, 0.2);
    border-radius: 6px;
}

.homefoto {

    padding: 0 5px;
    box-shadow: inset 1px 1px 4px 3px rgba(16, 16, 24, 0.2);
    border-radius: 6px;
}

.source {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;

    gap: 10px;


}

//******************************@media rules************************************

//-------------------(min-width: 768px) and (max-width: 1439px)-----------------
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .container {

        flex-direction: row;
        height: 50px;
        padding: 0;
        p {
            font-size: 16px;
        }
        
    }

    .sound {

        padding: 10px;
       
    }
    
    .homefoto {
    
        padding: 10px;
       
    }
}

//-------------------min-width: 1440px----------------------------
@media screen and (min-width: 1440px) {
    .container {

        flex-direction: row;
        height: 50px;
        padding: 0;
 
        p {
            font-size: 16px;
        }

    }

    .sound {

        padding: 10px;
       
    }
    
    .homefoto {
    
        padding: 10px;
       
    }

}
//******************************end************************************