.container {

    background-color: lightgray;
    padding: 10px;

    border-radius: 6px;

    .field {

        display: flex;
        flex-direction: column;

        padding: 10px;

        .title {
            
            width: 100%;

            text-align: center;
            font-size: 18px;

        }
        
        .lab {

            display: flex;
            justify-content: center;

            width: 100%;
            
            padding: 0;
            // margin: 0 auto 10px;

            .in {
                width: 95%;
                height: 100px;

                margin: 0 auto 10px;
                padding: 10px;
                border: none;
                border-radius: 6px;
                
                resize: none;
            }
                
        }
        
        button {
            width: 100px;
            margin: 0 auto;
        }
    }

    

        .area {
       
            width: 95%;
            height: 200px;

            padding: 10px;
            margin: 0 auto;

            border: none;
            border-radius: 6px;

            overflow-y: scroll;
            background-color: white;
            
        }

        .in:focus {
            outline: none;
        }
        .list {
            display: flex;
            flex-direction: column;

            gap: 10px;
            .item {
            
                    width: 95%;
            
                    list-style: none;
            
                    background-color: rgb(173, 216, 230, 0.5);
                    border-radius: 6px;
            
                }
        } 
    
}